#itens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 40px;
    margin-left:80px;
    margin-right: 80px;
}
 .armas{
    width: 100px;
 }

 h1{
   margin-left: 90px;
 }

 .local{
   display: flex;
   flex-flow: column;
 }

 .dica{
   display: none;
 }

 .nomeArmas{
    display: flex;
    justify-content: center;
    align-items: center;
 }


 :hover.nomeArmas{
   .dica{display: contents;}

   width: 100%;
   background-color: rgb(34, 33, 33);
 }

 /* telas pequenas */
 @media (max-width:768px){
   #itens{
      grid-template-columns: 1fr;
      justify-items:left;
   }
   .armas{
      width: 70px;
   }  
 }

/* telas medias */
 @media all and (max-width:1279px) and (min-width:769px) {
   #itens{
      grid-template-columns: 1fr 1fr;
      justify-items:left;
   }
   .armas{
      width: 80px;
   }  
 }